// Functions
// ----------
//
// ==========

/// Convert pixels to ems
/// @example
/// .element {
///   padding-left: em(10);
///   padding-left: em(10px);
/// }
/// When using the pixels-to-rem function, set the $browser-context to 32 so that 1em = 10px
$browser-context: 32;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}