/// Opacity
/// @example
/// .element {
///   @include opacity (0.5);
/// }
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}